.butt{
    border: 5px solid red;
    width: 80px;
    height: 80px;
}


.calc{
    display: flex;
    justify-content: center;
}
.dis{
    width: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80px;
    align-items: center;
    
}
body{
    display: flex;
    flex-direction: column;

}
.container{
    display: flex;
    justify-content: center;
    border: 1px solid green;
    flex-direction: column;
}
.up{
    width: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80px;
    align-items: center;
    
}