
/* CSS */
.butt {
    margin: 3px;
    background-color: #0078d0;
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    font-weight: 600;
    outline: 0;
    padding: 16px 21px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .butt:before {
    background-color: initial;
    background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
    border-radius: 125px;
    content: "";
    height: 50%;
    left: 4%;
    opacity: .5;
    position: absolute;
    top: 0;
    transition: all .3s;
    width: 92%;
  }
  
  .butt:hover {
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
    transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
    .butt {
      padding: 16px 48px;
    }
  }

.calc{
    display: flex;
    justify-content: center;
}
.dis{
    margin-top: 10px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.473);
    display: flex;
    justify-content: center;
    align-self: center;
    height: 80px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius:10px

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.container{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}

.eve{
    flex-grow: 0px;
    border: 1px solid rgba(1, 8, 2, 0.37);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(10, 46, 5, 0.17) 0px -23px 25px 0px inset, rgba(3, 51, 11, 0.15) 0px -36px 30px 0px inset, rgba(4, 66, 4, 0.1) 0px -79px 40px 0px inset, rgba(7, 66, 10, 0.06) 0px 2px 1px, rgba(20, 63, 3, 0.09) 0px 4px 2px, rgba(7, 65, 10, 0.09) 0px 8px 4px, rgba(5, 46, 14, 0.09) 0px 16px 8px, rgba(22, 65, 5, 0.09) 0px 32px 16px;
}

